{% extends "advanced_app/advanced_app_base.html" %}
<!--template_name_suffix¶
The UpdateView page displayed to a GET request uses a template_name_suffix of '_form'.
For example, changing this attribute to '_update_form' for a view updating objects for the example Author model
would cause the default template_name to be 'myapp/author_update_form.html'.

When using UpdateView you have access to self.object, which is the object being updated.-->
{% block body_block %}

<h1>
    {% if not form.instance.pk %}
    Create School
    {% else %}
    Update School
    {% endif %}
</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Submit">
    <p><a href="{% url 'advanced_app:school_detail' pk=school.pk %}">Cancel</a></p>
</form>

{% endblock %}