.fieldPart {
    width: 30px;
    height: 30px;
    border: 0.5px grey dashed;
    background-color: bisque;
}

#field {
    text-align: center;
}

#winmessage {
    text-align: center;
    font-size: 50px;
    color: black;
}

body {
    background-image: url("sara.jpg");
}